@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: black url(../imagens/img3.jpeg) center center no-repeat fixed;
    background-size: cover;
}

nav {
    position: relative;
}

menu {
    position: absolute;
}

menu > img {
    width: 80%;
    height: 500px;
}

menu > a > div#personal {
    background: url(../imagens/) center center no-repeat fixed;
    background-size: cover;
    height: 500px;
    width: 40%; 
}

menu > a > div#musics {

}

menu > a > div#urso { 

}